.header-wrapper {
  background-color: var(--second-bg-color);
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
  margin: 0 auto;
  background-color: var(--second-bg-color);

  img {
    width: 32px;
    height: 32px;
  }
}

.header.sticky {
  background: var(second--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar {
  position: relative;
  display: flex;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
  padding-right: 5rem;
  height: 100%;
}

.navbar a:hover,
.navbar a.active {
  color: black;
  background-color: var(--main-color);
  height: 80px;
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
