<section class="architecture" data-aos="fade-up" id="architecture">
  <div class="logo-wrapper">
    <img src="././assets/logo_black_footer.png" alt="" />
    <span class="company-description">architektur</span>
  </div>

  <!-- <div class="line-wrapper">
    <div class="line"></div>
  </div> -->

  <div class="img-wrapper">
    <div>
      <img src="././assets/piktogram.png" alt="" />
    </div>
  </div>

  <div class="text-wrapper">
    <div class="text">
      <div class="text-headline">
        <span >leistungen</span>
      </div>
      <p>
        die planung und betreuung ihres bauvorhabens bildet den kern meiner
        arbeit. gemäß den leistungsphasen 1-7 der hoai werde ich sie von den
        ersten ideen bis zur realisierung ihres bauvorhabens unterstützen.
        besonderes augenmerk lege ich dabei auf die qualität des entwurfes, die
        sich auch in den gebauten details wiederfinden wird. eine
        vollumfängliche baubegleitung entsprechend der lph 8 biete ich nicht an.
        dafür kann ich ihnen starke partner aus meinem netzwerk von
        fachingenieuren, planern und handwerkern empfehlen. zusätzlich zu den
        architektenleistungen biete ich auch
        <a href="#energy-consulting">energieberatung</a> für ihr objekt an.
      </p>
    </div>
  </div>

  <div class="text-wrapper-two">
    <div class="text">
      <div class="text-headline">
        <span >leistungsphasen nach hoai</span>
      </div>
      <ul>
        <p>LPH1 &nbsp; &nbsp;   Grundlagenermittlung</p>
        <p>LPH2  &nbsp; &nbsp; Vorplanung</p>
        <p>LPH3 &nbsp; &nbsp; Entwurfsplanung</p>
        <p>LPH4  &nbsp; &nbsp; Genehmigungsplanung</p>
        <p>LPH5 &nbsp; &nbsp;  Ausführungsplanung</p>
        <p>LPH6  &nbsp; &nbsp; Vorbereitung der Vergabe</p>
        <p>LPH7  &nbsp; &nbsp; Mitwirkung bei der Vergabe</p>
        <p>(LPH8 &nbsp;   Objektüberwachung – Bauüberwachung und Dokumentation)</p>
        <p>(LPH9 &nbsp;  Objektbetreuung)</p>
    </ul>
    </div>
  </div>

  <div class="text-wrapper-three">
    <div class="text">
      <div class="text-headline">
        <span>projektübersicht</span>
      </div>
        <table>
          <tr>
              <td>Seit 2021</td>
              <td>Neubau eines Wohnhauses in Stralsund, LPH 1-7 (derzeit LPH 5 & 6)</td>
          </tr>
          <tr>
              <td>2021-2022</td>
              <td>Erweiterung eines denkmalgeschützten Ackerbürgerhauses in Stralsund, bis LPH 3</td>
          </tr>
          <tr>
              <td>2021-2022</td>
              <td>Erweiterung einer Doppelhaushälfte in Stralsund, bis LPH 3</td>
          </tr>
          <tr>
              <td>Seit 2022</td>
              <td>Umbau einer Scheune in Schiaß, LPH 5-7</td>
          </tr>
          <tr>
              <td>2022</td>
              <td>Umbau eines Ferienhauses, LPH 1-4</td>
          </tr>
          <tr>
              <td>2022-2023</td>
              <td>Neubau von 2 Doppelhäusern in Ahrensfelde, LPH 5</td>
          </tr>
          <tr>
              <td>2023</td>
              <td>Umnutzung einer Bäckerei in Berlin, LPH 4</td>
          </tr>
          <tr>
              <td>2023</td>
              <td>Umbau des Dachgeschosses im Denkmal, LPH 5</td>
          </tr>
          <tr>
              <td>Seit 2023</td>
              <td>Umbau einer Scheune in Letschin, LPH 1-4 (derzeit LPH 2)</td>
          </tr>
      </table>
      </div>
    </div>



  <!--



      <p>
        Leistungsphasen nach HOAI
      </p>
      <p>
LPH1	&nbsp;	Grundlagenermittlung
LPH2	&nbsp;	Vorplanung
LPH3	&nbsp;	Entwurfsplanung
LPH4	&nbsp;	Genehmigungsplanung
LPH5	&nbsp;	Ausführungsplanung.
LPH6	&nbsp;	Vorbereitung der Vergabe
LPH7	&nbsp;	Mitwirkung bei der Vergabe
(LPH8	&nbsp;	Objektüberwachung – Bauüberwachung und Dokumentation)
(LPH9	&nbsp;	Objektbetreuung)

      </p> -->
</section>
