<section class="architecture" data-aos="fade-up" id="profile">
  <div class="logo-wrapper">
    <img src="././assets/logo_black_footer.png" alt="" />
    <span class="company-description">profil</span>
  </div>

  <div class="line-wrapper">
    <div class="line"></div>
  </div>

  <div class="img-wrapper">
    <span class="description-bio">
      alle müssen wohnen & jeder ort ist anders. <br />
      mit den individuellen anforderungen der auftraggebenden und den <br>spezifischgen gegebenheiten des jeweiligen ortes zeitgemäße <br> architektur zu gestalete, habe ich mir zur aufgabe gemacht.
    </span>
    <img src="././assets/Arthur_spooner.webp" alt="">
  <div>




