.carousel-slide {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }

    .caption {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 80%;
      font-size: 16px;
      bottom: 0;

      h1 {
        font-size: 5rem;
        font-weight: 600;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 2rem;
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        color: var(--text-color);
        text-align: center;
      }
    }

    .carousel-wrapper .carousel-control-prev,
    .carousel-wrapper .carousel-control-next {
      display: none !important;
    }
  }
}
