<app-header></app-header>

<main>
  <!-- <section class="home" data-aos="fade-up" id="home"> -->
    <div class="wrapper-one">
      <img src="././assets/aktuelles.jpg" alt="" />
      <img src="././assets/energieberatung_aktuell.jpg" alt="">
      <!-- <img src="././assets/architektur_one.jpg" alt="" />
      <img src="././assets/piktogram.png" alt="" />
      <img src="././assets/energieberatung_two.jpg" alt="" /> -->
    </div>
  <!-- </section> -->
</main>

<app-architecture></app-architecture>
<app-energy-consulting></app-energy-consulting>
<app-profile></app-profile>
<app-contact-section></app-contact-section>
<app-footer></app-footer>
