<app-header></app-header>

<main>
  <!-- <section class="home" data-aos="fade-up" id="home"> -->
    <div class="wrapper-one">
      <div class="image-container">
        <img src="././assets/aktuelles.jpg" alt="" />
        <div class="overlay">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum aliquam possimus quas debitis esse iste, fuga placeat, rerum officiis aspernatur repudiandae consectetur, ab magni repellendus numquam odio sed consequuntur?</p>
        </div>
      </div>
      <div class="image-container">
        <img src="././assets/energieberatung_aktuell.jpg" alt="" />
        <div class="overlay">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum aliquam possimus quas debitis esse iste, fuga placeat, rerum officiis aspernatur repudiandae consectetur, ab magni repellendus numquam odio sed consequuntur?</p>
        </div>
      </div>
    </div>
  <!-- </section> -->
</main>

<app-architecture></app-architecture>
<app-energy-consulting></app-energy-consulting>
<app-profile></app-profile>
<app-contact-section></app-contact-section>
<app-footer></app-footer>
