.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 9rem 9% 2rem;
}

.carousel-slide {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;


  .carousel-indicators {
    display: none !important;
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }


    .caption-wrapper {
      width: 100%;
    }
    .caption {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: 16px;
      bottom: -10px;
      color: white;

      h2 {
        font-size: 1.7rem !important;
        font-weight: unset !important;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        line-height: inherit;
      }

      h1 {
        font-size: 5rem;
        font-weight: 600;
        color: var(--text-color);
        text-align: center;
        margin-bottom: 2rem;
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        color: var(--text-color);
        text-align: center;
      }
    }

    .carousel-wrapper .carousel-control-prev,
    .carousel-wrapper .carousel-control-next {
      display: none !important;
    }
  }
}

@media screen and (max-width: 1050px) {

  .carousel-container {
    height: 100%;
  }
  .carousel-slide {
    height: 100%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    display: none;
  }

}
