<app-header></app-header>


<ngb-carousel>
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="carousel-slide">
      <div class="carousel-wrapper">
        <img src="assets/{{image.name}}" alt="image.caption" />
        <div class="caption"><h2>{{image.caption}}</h2></div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>


<app-architecture></app-architecture>
<app-energy-consulting></app-energy-consulting>
<app-profile></app-profile>
<app-contact-section></app-contact-section>
<app-footer></app-footer>
