.wrapper-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 9rem;
  margin-top: 4rem;
  position: relative;
  overflow: hidden;

  .image-container {
    position: relative;
    width: 75rem;
    margin-bottom: 6rem;
    overflow: hidden;
    transition: filter 0.5s;
  }

  .image-container img {
    width: 75rem;
    filter: grayscale(100);
    transition: filter 0.5s;
  }

  .image-container:hover .overlay {
    bottom: 0;
  }

  .image-container:hover img {
    filter: grayscale(0);
  }

  .overlay {
    position: absolute;
    bottom: -75rem;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    transition: bottom 0.3s;
    font-size: 16px;
  }
}
